package views

import "github.com/nbittich/factsfood/views/layout"

templ Home(name string) {
	@layout.Layout("Home", "/", home(name), nil, nil)
}

templ home(name string) {
	<div>Hello { name }!</div>
}
