package views

import (
	"github.com/nbittich/factsfood/views/layout"
)

templ Home(name string) {
	@layout.Layout("home.title", "/", home(name), nil)
}

templ home(m string) {
	<div>Hello, { m }!</div>
}
